<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeControl WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HomeControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2028CE41C0857E700F2A20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2028CF21C0858A700F2A20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22B4FBF1BC906720062970C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22B4FD11BC906730062970C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
